.temp-error {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 500;
  background-color: red;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
